affine==2.4.0
attrs==24.3.0
beautifulsoup4==4.12.3
certifi==2024.12.14
cftime==1.6.4.post1
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
idna==3.10
iniconfig==2.0.0
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lxml==5.3.0
netCDF4==1.7.2
numpy==2.2.1
packaging==24.2
pandas==2.2.3
pluggy==1.5.0
pyparsing==3.2.1
pystac==1.11.0
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
rasterio==1.4.3
referencing==0.36.1
requests==2.32.3
rio-stac==0.10.1
rpds-py==0.22.3
s3transfer==0.11.1
scipy==1.15.1
shapely==2.0.6
six==1.17.0
soupsieve==2.6
toml==0.10.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
WebOb==1.8.9
xarray==2025.1.2
